# Ignore large binary files by default
*.psd
*.ai
*.tif
*.tiff
*.bmp
*.mp4
*.mov
*.wmv
*.avi
*.flv
*.mpg
*.mpeg
*.mkv

# Ignore any file over 1MB
**/*.@(jpg|jpeg|gif|png|pdf|zip|gz|bz2|7z|rar|tar|docx|xlsx|pptx)
!**/.*.@(jpg|jpeg|gif|png|pdf|zip|gz|bz2|7z|rar|tar|docx|xlsx|pptx)
